.contact-name {
  margin: 20px 0;
}

.selected {
  color: #CAEDFF;
}

.btn {
  background-color: transparent;
  border-radius: 10px;
  padding: 5px;
  color:#fff;
  margin-right:5px;
}

.fa-trash {
  color: red;
}

.card-details-input {
  margin: 5px 0;
}

.input {
  width: 100%;;
}